.context-dark,
.bg-gray-dark,
.bg-primary {
  color: rgba(255, 255, 255, 0.8);
}

.footer-classic a,
.footer-classic a:focus,
.footer-classic a:active {
  color: #ffffff;
}
.nav-list li {
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
}

ul,
ol {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.nav-list li a:before {
  display: contents;
  margin-left: -28px;
  margin-right: 400px;
  opacity: 1;
  visibility: hidden;
}

.mon-titre {
  color: rgba(172, 157, 157, 0.521);
  font-size: 70px;
}

footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 180px;
}

.paragraphs {
  color: rgb(58, 54, 54);
}

.container {
  padding: 10px;
}
body {
  background-image: url(../img/background_all.jpg);
  background-size: cover;
}
